<script type="text/javascript">
  function dropdown(){
     document.getElementById("dropLinks").classList.toggle("show");
     document.getElementById("hamburger").classList.toggle("fa-bars");
     document.getElementById("hamburger").classList.toggle("fa-times");
  }
</script>
</body>
</html>
