<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>ricecookerninja</title>
  </head>
  <body>
    <nav>
      <div class="socialLinks">
        <a href="/"><span>ricecookerninja</span></a>
      <!-- <a href="#"><i class="fa fa-github navIcons"></i></a>
      <a href="#"><i class="fa fa-twitter navIcons"></i></a>
      <a href="#"><i class="fa fa-linkedin-square navIcons"></i></a> -->
    </div>
    <div class="dropdown">
      <i class="fa fa-bars" onclick="dropdown()" id="hamburger"></i>
      <div class="dropLinks show" id="dropLinks">
        <a href="/posts">RECIPES</a>
        <a href="/about">ABOUT</a>
        <a href="/">HOME</a>
      </div>
    </div>
    </nav>
