<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato|Merriweather|Permanent+Marker&display=swap" rel="stylesheet">
    <script src='/css/fontawesome/js/fonts.js'></script>
    <link rel="stylesheet" href="/css/nav.css">
    <title>ricecookerninja</title>
  </head>
  <body>
    <nav>
      <div class="socialLinks">
        <a href="/"><span>ricecookerninja</span></a>
    </div>
    <div class="dropdown">
      <i class="fal fa-bars" onclick="dropdown()" id="hamburger"></i>
      <div class="dropLinks show" id="dropLinks">
        <a href="/posts" class="postsLink">RECIPES</a>
        <a href="/" class="homeLink">HOME</a>
        <a href="/about" class="aboutLink">ABOUT</a>
      </div>
    </div>
    </nav>
