<%- include('layouts/nav'); -%>

<main class="about">
  <div class="meImg">
    <img src="images/port-i.jpg" alt="">
  </div>
  <hr>
  <div class="meText">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nunc aliquet bibendum enim facilisis gravida.
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nunc aliquet bibendum enim facilisis gravida.
    </p>
  </div>
</main>
<link rel="stylesheet" href="css/about.css">
<%- include('layouts/footer'); -%>
