<%- include('layouts/nav'); -%>

<section>
  <div class="steamText">
    <p>Smell That?</p>
    <span class="steam anime1">~~~~~~~~</span><span class="steam anime2">~~~~~~~~</span><span class="steam anime3">~~~~~~~~</span><span class="steam anime4">~~~~~~~~</span><span class="steam anime5">~~~~~~~~</span>
    
  </div>
  <div class="recipeButton">
    <button type="button" name="button">Adventures <i class="fal fa-hat-chef"></i><i class="fal fa-soup"></i></button>
    <button type="button" name="button">Latest Adventure <i class="fal fa-hat-chef"></i><i class="fal fa-soup"></i> </button>
  </div>
</section>
<link rel="stylesheet" href="css/styles.css">
<%- include('layouts/footer'); -%>
