<%- include('layouts/nav'); -%>

<section>
  <!-- <div class="intro">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nunc aliquet bibendum enim facilisis gravida.
       Stella.
    </p>
      <button type="button" name="button">Latest Recipe</button>
  </div> -->
  <div class="steamText"><span>~~~~</span><span>~~~~</span><span>~~~~</span>
  <p>Smell That?</p>
  </div>
  <div class="recipeButton"><button type="button" name="button">Latest Recipe</button></div>
</section>
<link rel="stylesheet" href="css/styles.css">
<%- include('layouts/footer'); -%>
