<%- include('layouts/nav'); -%>

<section>
  <div class="steamText">
    <p>SMELL THAT ?</p>
    <span class="steam anime1">~~~~~~~~</span><span class="steam anime2">~~~~~~~~</span><span class="steam anime3">~~~~~~~~</span><span class="steam anime4">~~~~~~~~</span><span class="steam anime5">~~~~~~~~</span>

  </div>
  <div class="recipeButton">
    <button type="button" name="button">Experiments <span><i class="fal fa-hat-chef"></i><i class="fal fa-soup"></i></span></button>
    <button type="button" name="button">Latest Experiment <span><i class="fal fa-hat-chef"></i><i class="fal fa-soup"></i></span></button>
  </div>
</section>
<link rel="stylesheet" href="css/styles.css">
<%- include('layouts/footer'); -%>
