/* http://www.kathrynmcclintock.com/ */
.aboutLink{
  color:#A2E9E9;
}

.about{
  display: flex;
  flex-direction: column;
}

.meImg{
  width: 100vw;
  height: auto;
  /* background: url("../images/port-i.jpg") no-repeat center center fixed;
  background-size: contain; */
}


.meImg img{
width: 100%;
height: 100%;
}

.meText {
  line-height: 1.5;
  padding:2em 1em;
  font-family: 'Merriweather';
}

.jumbCont{
  font-family: 'Lato';
  font-size: 120%;
  font-weight: bold;
}

.social a{
  color:#222222;
  text-decoration: none;
  font-size: 150%;
  padding-right: 0.6em;
}

@media only screen and (min-width: 768px) {
.meText{
  padding: 5em 6em;
  line-height: 1.8;
}

.meImg{
  height: 35vh;
}
}

@media only screen and (min-width: 1024px) {
  body{
    overflow: hidden;
  }
.about{
  flex-direction: row;
}

.meImg, .meText{
  width: 50vw;
  height: 100vh;
  /* overflow: hidden; */
}


/* .meImg , .meText{
  width: 48vw;
  height: 100vh;
} */

}