/* nav, nav a{
  color: #ffffff;
} */
.homeLink{
  color:#A2E9E9;
}
section{
  height: 100vh;
  overflow: hidden;
  /* background:url("../images/food-xx.jpg") no-repeat center center fixed; */
  background:linear-gradient(
      rgba(34, 34, 34, 0),
      rgba(34, 34, 34, 0)
    ),url("../images/ricecooker-lgreen.jpg") no-repeat center center fixed;
  /* background-color: rgba(27, 38, 44, 0.7); */
  background-size: cover;
}

.intro{
  width:80%;
  color: #ffffff;
  background: rgba(27, 38, 44, 0.7);
  font-size: 120%;
  line-height: 1.6;
  padding: 0.5em;
  position: absolute;
  bottom: 8%;
  left : 8%;
}

.intro button{
  border:0;
  font-size: 100%;
  padding:0.4em 0.4em;
  background: #bbe1fa;
  display: block;
  margin: 0 auto;
}


@media only screen and (min-width: 768px) {
.intro{
  width:60%;
  bottom: 15%;
  left : 18%;
}
}

@media only screen and (min-width: 1024px) {
  .intro{
    width:35%;
    bottom: 30%;
    left : 30%;
  }
}
