/* nav, nav a{
  color: #ffffff;
} */
.homeLink{
  color:#A2E9E9;
}
section{
  height: 100vh;
  overflow: hidden;
  /***Animation test***/
  background:url("../images/ninja-6.png") no-repeat center center fixed;
  animation: anime  0.5s cubic-bezier(.36,.07,.19,.97) both;
  /* animation-duration: 0.5s; */
  /* animation-fill-mode: forwards; */
  animation-iteration-count: 5;
  /* animation-timing-function: ease-in; */
  /* background:linear-gradient(
      rgba(34, 34, 34, 0),
      rgba(34, 34, 34, 0)
    ),url("../images/ninja-iii.jpg") no-repeat center center fixed; */
    /* background: url('../images/ninja-iii.jpg') 50% 0 no-repeat; */
  /* background-color: rgba(27, 38, 44, 0.7); */
  background-size: contain;
  /* background-position:center; */
}

@keyframes anime{
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

}

.intro{
  width:80%;
  color: #ffffff;
  background: rgba(27, 38, 44, 0.7);
  font-size: 120%;
  line-height: 1.6;
  padding: 0.5em;
  position: absolute;
  bottom: 8%;
  left : 8%;
}

.intro button{
  border:0;
  font-size: 100%;
  padding:0.4em 0.4em;
  background: #bbe1fa;
  display: block;
  margin: 0 auto;
}


@media only screen and (min-width: 768px) {
.intro{
  width:60%;
  bottom: 15%;
  left : 18%;
}
}

@media only screen and (min-width: 1024px) {
  .intro{
    width:35%;
    bottom: 30%;
    left : 30%;
  }
}
