
.homeLink{
  color:#A2E9E9;
}
section{
  height: 100vh;
  overflow: hidden;
  animation-iteration-count: 5;
  background:linear-gradient(
      rgba(34, 34, 34, 0),
      rgba(34, 34, 34, 0)
    ),url("../images/ninja-6.png") no-repeat center center fixed;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.recipeButton{
  align-self: center;
}

.steamText{
margin: 0 0 0 0;
}

.steamText p{
  font-family: 'Trade Winds';
  font-size: 200%;
}
.steam{
  writing-mode: vertical-rl;
  font-size: 200%;
}
.recipeButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 0 0;
}

.recipeButton button{
display: flex;
justify-content: space-around;
text-align: left;
font-family: 'Merriweather';
font-size: 110%;
margin: 0.4em 0 0.6em 0;
padding: 0.8em 0.5em;
width:100%;
border-width: 1px;
border-color: #343434;
background: #b9d2d2;
}


.anime1{
  animation-name: anime1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.anime2{
  animation-name: anime2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.anime3{
  animation-name: anime3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.anime4{
  animation-name: anime4;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.anime5{
  animation-name: anime5;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}


@keyframes anime1{
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  75%{
    opacity: 0;
  }

  100%{
    opacity:0;
  }
}

@keyframes anime2{
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  75%{
    opacity: 0;
  }

  100%{
    opacity:0;
  }
}

@keyframes anime3{
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  75%{
    opacity: 0;
  }

  100%{
    opacity:0;
  }
}

@keyframes anime4{
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  75%{
    opacity: 0;
  }

  100%{
    opacity:0;
  }
}

@keyframes anime5{
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  75%{
    opacity: 0;
  }

  100%{
    opacity:0;
  }
}


@media only screen and (min-width: 768px) {

.steamText p, .steam{
  font-size: 230%;
}

.steam{
  visibility: hidden;
}

}

@media only screen and (min-width: 1024px) {
  .steamText p, .steam{
    font-size: 250%;
  }

  @media only screen and (min-width: 1440px) {

    .steamText p, .steam{
      font-size: 270%;
    }

}
